.container {
  width: 100%;
  min-height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.parentdiv {
}

button {
  padding: 1.2rem;
  background-color: tomato;
  border-radius: 0.7rem;
}
button:hover {
  opacity: 0.8;
}

.box {
  width: 15rem;
  height: 15rem;
  margin: 2rem;

  background-color: pink;
}
